@media only screen and (max-width: 375px) {
	header h1 {
		font-size: 1.5rem;
	}
}

/* Qauando a largura da tela for acima de 375px, a largura do input de filmes aumentar até chega seu tamanho original do layout e dps irá parar de crescer */

@media only screen and (min-width: 375px) {

	main .search {
		max-width: 39.625rem;
	}

	main .search .input {
		width: 100%;
	}
}
