:root {
	--bg-color: #17162e;
	--card-color: #1D1C3B;
	--white-color: #fff;
	--gray-search-color: #8a8a8a;
	--gray-text-color: #acacac;
}

body {
	width: 100%;
	height: 100vh;
	background: var(--bg-color);
	font-family: 'Kumbh Sans', sans-serif;
	font-style: normal;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 3.875rem 0 3rem 0;
}

header h1 {
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 2.8125rem;
	color: var(--white-color);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;
}

main .search {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.875rem;
}


main .search .box-input {
	width: 39.625rem;
	height: 4.625rem;
	background: rgba(255, 255, 255, .2);
	border-radius: 0.5rem;
	padding: 1.625rem 1.5rem;

	display: flex;
	flex-direction: row;
	align-items: center;
}

main .search .box-input input {
	width: 18.3125rem;
	height: 1.375rem;

	outline: none;
	background: transparent;
	border: none;
	color: var(--white-color);

	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.375rem;
	flex-grow: 1;
}

main .search .box-input input::placeholder {
	color: var(--gray-search-color);
}

main .search .box-input .btn {
	width: auto;
	height: auto;
	border: none;
	background: transparent;
	cursor: pointer;
}

main .search .box-input .btn .icon {
	width: 1.1469rem;
	height: 1.2094rem;
}

main .search .select-favorite {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.875rem;
}

main .search .select-favorite label {
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.375rem;
	color: var(--white-color);
}

main .movie {
	width: 100%;
	padding: 4rem 0;
}

main .movie .movie-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	padding: 0 1rem;
}

main .movie .movie-container .movie-card {
	width: 76.5rem;
	height: auto;
	padding: 1.5rem 2.875rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 7.8125rem;

	background: var(--card-color);
	box-shadow: 2.0524rem 1.5343rem 4.9375rem rgba(0, 0, 0, 0.15), 1.4928rem 1.1159rem 3.328rem rgba(0, 0, 0, 0.121406), 1.039rem 0.7767rem 2.1524rem rgba(0, 0, 0, 0.10125), 0.6815rem 0.5094rem 1.3356rem rgba(0, 0, 0, 0.0867188), 0.4105rem 0.3069rem 0.8023rem rgba(0, 0, 0, 0.075), 0.2165rem 0.1618rem 0.4774rem rgba(0, 0, 0, 0.0632813), 0.0898rem 0.0671rem 0.2854rem rgba(0, 0, 0, 0.04875), 0.0208rem 0.0156rem 0.1514rem rgba(0, 0, 0, 0.0285938);
	border-radius: 0.5rem;
}

main .movie .movie-container .movie-card .info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
}

main .movie .movie-container .movie-card .info .movie-cover {
	width: 8.6875rem;
	height: 8.6875rem;
	border-radius: 4.3438rem;
	object-fit: cover;


	filter: drop-shadow(1.25rem 1.25rem 1.875rem rgba(0, 0, 0, 0.3));
}

main .movie .movie-container .movie-card .info .description {
	display: flex;
	flex-direction: column;
	gap: 1.5625rem;
}

main .movie .movie-container .movie-card .info .description {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.375rem;
	color: var(--white-color);
}

main .movie .movie-container .movie-card .info .description .category {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2.8125rem;
}

main .movie .movie-container .movie-card .info .description .category .stars {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;

	font-size: 1.125rem;
	line-height: 1.375rem;

	color: var(--white-color);
}

main .movie .movie-container .movie-card .info .description .category .favorite {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
}

main .movie .movie-container .movie-card .info .description .category .favorite button {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.375rem;
	color: var(--white-color);
	background: transparent;
	border: none;
	cursor: pointer;
}

main .movie .movie-container .movie-card .sinopse {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 2rem;
	color: var(--gray-text-color);
}
